interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:30:34 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2021-07-16T21:30:27.4504125Z\",\"allocationTime\":\"2021-07-16T21:30:27.4504125Z\",\"ipAddress\":\"10.0.0.5\",\"affinityId\":\"TVM:tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.1\",\"protocol\":\"tcp\",\"publicIPAddress\":\"13.85.192.90\",\"publicFQDN\":\"dnse2ba2f67-3c63-48eb-b362-4455fc1caaa2-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50001,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"16.04.202106110\"\r\n
        \       }\r\n      }\r\n    },{\r\n      \"id\":\"tvmps_7bcfd4eecae5efff638530023ca464024842ecb056af912edd5675a103f31490_d\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_7bcfd4eecae5efff638530023ca464024842ecb056af912edd5675a103f31490_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2021-07-16T21:30:27.4494109Z\",\"allocationTime\":\"2021-07-16T21:30:27.4494109Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_7bcfd4eecae5efff638530023ca464024842ecb056af912edd5675a103f31490_d\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"13.85.192.90\",\"publicFQDN\":\"dnse2ba2f67-3c63-48eb-b362-4455fc1caaa2-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"16.04.202106110\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:30:45 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2021-07-16T21:30:43.729182Z\",\"lastBootTime\":\"2021-07-16T21:30:43.14351Z\",\"allocationTime\":\"2021-07-16T21:30:27.4504125Z\",\"ipAddress\":\"10.0.0.5\",\"affinityId\":\"TVM:tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"certificateReferences\":[],\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.1\",\"protocol\":\"tcp\",\"publicIPAddress\":\"13.85.192.90\",\"publicFQDN\":\"dnse2ba2f67-3c63-48eb-b362-4455fc1caaa2-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50001,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2021-07-16T21:30:43.14351Z\",\"version\":\"1.9.13\"\r\n
        \     },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"16.04.202106110\"\r\n
        \       }\r\n      }\r\n    },{\r\n      \"id\":\"tvmps_7bcfd4eecae5efff638530023ca464024842ecb056af912edd5675a103f31490_d\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:30:45 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#nodes/@Element\",\"id\":\"tvmps_1fab34cbc91596cc08e26b42822c[...]
- request:
    body: '{"containerUrl": "https://test.blob.core.windows.net:443/test-container",
      "startTime": "2021-07-16T21:24:45.266417Z"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 21:30:45 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d/uploadbatchservicelogs?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.UploadBatchServiceLogsResult\",\"virtualDirectoryName\":\"batch-22F0DFD558C09722/test_batch_test_batch_compute_nodesff3f0e45/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d/07e5a9ad-cbd1-4a98-b4d5-557a29c98252\",\"numberOfFilesUploaded\":4\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 21:30:45 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d/disablescheduling?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchff3f0e45.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d/disablescheduling
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:30:45 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d/enablescheduling?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchff3f0e45.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d/enablescheduling
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"nodeRebootOption": "terminate"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 21:30:45 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d/reboot?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchff3f0e45.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d/reboot
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
- request:
    body: '{"nodeReimageOption": "terminate"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 21:30:45 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/nodes/tvmps_7bcfd4eecae5efff638530023ca464024842ecb056af912edd5675a103f31490_d/reimage?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.Container.errors/@Element\",\"code\":\"OperationNotValidOnNode\",\"message\":{\r\n
        \   \"lang\":\"en-US\",\"value\":\"The specified operation is not valid on
        the node.\\nRequestId:9b764422-67c6-4c41-bb32-a062302e9e5b\\nTime:2021-07-16T21:30:48.2747873Z\"\r\n
        \ },\"values\":[\r\n    {\r\n      \"key\":\"Reason\",\"value\":\"Operation
        reimage can be invoked only on pools created with cloudServiceConfiguration\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 409
      message: The specified operation is not valid on the node.
- request:
    body: '{"nodeList": ["tvmps_1fab34cbc91596cc08e26b42822ccc25473253fc2cb372304e1c0f84d4c381ad_d",
      "tvmps_7bcfd4eecae5efff638530023ca464024842ecb056af912edd5675a103f31490_d"]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 21:30:45 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/removenodes?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchff3f0e45.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_nodesff3f0e45/removenodes
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A0FA71FF59'
      last-modified:
      - Fri, 16 Jul 2021 21:30:48 GMT
    status:
      code: 202
      message: Accepted
version: 1
