interactions:
- request:
    body: '{"id": "batch_paas_f0de0ddf", "vmSize": "standard_d1_v2", "cloudServiceConfiguration":
      {"osFamily": "5"}, "startTask": {"commandLine": "cmd.exe /c \"echo hello world\"",
      "resourceFiles": [{"httpUrl": "https://blobsource.com", "filePath": "filename.txt"}],
      "environmentSettings": [{"name": "ENV_VAR", "value": "env_value"}], "userIdentity":
      {"autoUser": {"elevationLevel": "admin"}}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sat, 17 Jul 2021 11:47:24 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0de0ddf.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D94918A767A1B4'
      last-modified:
      - Sat, 17 Jul 2021 11:47:28 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf
    status:
      code: 201
      message: Created
- request:
    body: '{"certificateReferences": [], "applicationPackageReferences": [], "metadata":
      [{"name": "foo", "value": "bar"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sat, 17 Jul 2021 11:47:25 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf/updateproperties?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0de0ddf.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf/updateproperties
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D94918A83C7EC2'
      last-modified:
      - Sat, 17 Jul 2021 11:47:30 GMT
    status:
      code: 204
      message: No Content
- request:
    body: '{"metadata": [{"name": "foo2", "value": "bar2"}]}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Sat, 17 Jul 2021 11:47:26 GMT
    method: PATCH
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchf0de0ddf.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D94918A854E8CA'
      last-modified:
      - Sat, 17 Jul 2021 11:47:30 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 17 Jul 2021 11:47:27 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_paas_f0de0ddf\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf\",\"eTag\":\"0x8D94918A854E8CA\",\"lastModified\":\"2021-07-17T11:47:30.1815498Z\",\"creationTime\":\"2021-07-17T11:47:28.6265268Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-17T11:47:28.6265268Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2021-07-17T11:47:30.0025467Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"certificateReferences\":[],\"metadata\":[\r\n
        \   {\r\n      \"name\":\"foo2\",\"value\":\"bar2\"\r\n    }\r\n  ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"cloudServiceConfiguration\":{\r\n
        \   \"osFamily\":\"5\",\"osVersion\":\"*\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D94918A854E8CA'
      last-modified:
      - Sat, 17 Jul 2021 11:47:30 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 17 Jul 2021 11:47:27 GMT
      return-client-request-id:
      - 'false'
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2021-06-01.14.0&$select=id%2Cstate&$expand=stats&timeout=30
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_paas_f0de0ddf\",\"state\":\"active\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D94918A854E8CA'
      last-modified:
      - Sat, 17 Jul 2021 11:47:30 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Sat, 17 Jul 2021 11:47:27 GMT
    method: DELETE
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_paas_f0de0ddf?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
