interactions:
- request:
    body: '{"id": "batch_network_814e11b1", "vmSize": "Standard_D1_v2", "virtualMachineConfiguration":
      {"imageReference": {"publisher": "Canonical", "offer": "UbuntuServer", "sku":
      "16.04-LTS"}, "nodeAgentSKUId": "batch.node.ubuntu 16.04"}, "targetDedicatedNodes":
      1, "networkConfiguration": {"endpointConfiguration": {"inboundNATPools": [{"name":
      "TestEndpointConfig", "protocol": "udp", "backendPort": 64444, "frontendPortRangeStart":
      60000, "frontendPortRangeEnd": 61000, "networkSecurityGroupRules": [{"priority":
      150, "access": "allow", "sourceAddressPrefix": "*"}]}]}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 22:08:18 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch814e11b1.southcentralus.batch.azure.com/pools/batch_network_814e11b1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A639AEB84F'
      last-modified:
      - Fri, 16 Jul 2021 22:08:21 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:08:19 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"batch_network_814e11b1\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1\",\"eTag\":\"0x8D948A639AEB84F\",\"lastModified\":\"2021-07-16T22:08:21.9158607Z\",\"creationTime\":\"2021-07-16T22:08:21.9158607Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-16T22:08:21.9158607Z\",\"allocationState\":\"resizing\",\"allocationStateTransitionTime\":\"2021-07-16T22:08:21.9158607Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":1,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \   \"nodeFillType\":\"Spread\"\r\n  },\"virtualMachineConfiguration\":{\r\n
        \   \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  },\"networkConfiguration\":{\r\n
        \   \"dynamicVNetAssignmentScope\":\"none\",\"endpointConfiguration\":{\r\n
        \     \"inboundNATPools\":[\r\n        {\r\n          \"name\":\"TestEndpointConfig\",\"protocol\":\"udp\",\"backendPort\":64444,\"frontendPortRangeStart\":60000,\"frontendPortRangeEnd\":61000,\"networkSecurityGroupRules\":[\r\n
        \           {\r\n              \"priority\":150,\"access\":\"allow\",\"sourceAddressPrefix\":\"*\",\"sourcePortRanges\":[\r\n
        \               \"*\"\r\n              ]\r\n            }\r\n          ]\r\n
        \       }\r\n      ]\r\n    }\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A639AEB84F'
      last-modified:
      - Fri, 16 Jul 2021 22:08:21 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:10:20 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1/nodes?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_c66f31510d0f55312610c14c2714da8667c7fa59afe347353a4f1707f0ccf43f_d\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/batch_network_814e11b1/nodes/tvmps_c66f31510d0f55312610c14c2714da8667c7fa59afe347353a4f1707f0ccf43f_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2021-07-16T22:10:13.5349784Z\",\"allocationTime\":\"2021-07-16T22:10:13.5349784Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_c66f31510d0f55312610c14c2714da8667c7fa59afe347353a4f1707f0ccf43f_d\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"TestEndpointConfig.0\",\"protocol\":\"udp\",\"publicIPAddress\":\"52.152.57.228\",\"publicFQDN\":\"dns803a5636-ce23-425d-ac7f-40bdb7140bda-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":60000,\"backendPort\":64444\r\n
        \         },{\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"52.152.57.228\",\"publicFQDN\":\"dns803a5636-ce23-425d-ac7f-40bdb7140bda-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"16.04.202106110\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
