interactions:
- request:
    body: '{"id": "batch_schedule_fe140e2a", "schedule": {"startWindow": "PT1H", "recurrenceInterval":
      "P1D"}, "jobSpecification": {"maxParallelTasks": -1, "onAllTasksComplete": "terminatejob",
      "constraints": {"maxTaskRetryCount": 2}, "poolInfo": {"poolId": "pool_id"}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 22:01:46 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobschedules?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A54F905F8D'
      last-modified:
      - Fri, 16 Jul 2021 22:01:49 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:01:46 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/jobschedules?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobschedules\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\",\"eTag\":\"0x8D948A54F905F8D\",\"lastModified\":\"2021-07-16T22:01:49.1301261Z\",\"creationTime\":\"2021-07-16T22:01:49.1301261Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-16T22:01:49.1301261Z\",\"schedule\":{\r\n
        \       \"startWindow\":\"PT1H\",\"recurrenceInterval\":\"P1D\"\r\n      },\"jobSpecification\":{\r\n
        \       \"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\",\"constraints\":{\r\n
        \         \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \       },\"poolInfo\":{\r\n          \"poolId\":\"pool_id\"\r\n        }\r\n
        \     },\"executionInfo\":{\r\n        \"nextRunTime\":\"2021-07-17T22:01:49.1301261Z\",\"recentJob\":{\r\n
        \         \"url\":\"https://batch.southcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"id\":\"batch_schedule_fe140e2a:job-1\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:01:46 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobschedules/@Element\",\"id\":\"batch_schedule_fe140e2a\",\"url\":\"https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a\"[...]
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:01:46 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/jobs?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_schedule_fe140e2a:job-1\",\"url\":\"https://batch.southcentralus.batch.azure.com/jobs/batch_schedule_fe140e2a:job-1\",\"eTag\":\"0x8D948A54F980147\",\"lastModified\":\"2021-07-16T22:01:49.1801415Z\",\"creationTime\":\"2021-07-16T22:01:49.1631419Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-16T22:01:49.1801415Z\",\"priority\":0,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":2\r\n
        \     },\"poolInfo\":{\r\n        \"poolId\":\"pool_id\"\r\n      },\"executionInfo\":{\r\n
        \       \"startTime\":\"2021-07-16T22:01:49.1801415Z\",\"poolId\":\"pool_id\"\r\n
        \     },\"onAllTasksComplete\":\"terminatejob\",\"onTaskFailure\":\"noaction\"\r\n
        \   }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:01:46 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/disable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A54FCE3ED2'
      last-modified:
      - Fri, 16 Jul 2021 22:01:49 GMT
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:01:47 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/enable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A54FD89F23'
      last-modified:
      - Fri, 16 Jul 2021 22:01:49 GMT
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:01:47 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batchfe140e2a.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a/terminate
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A54FF997A1'
      last-modified:
      - Fri, 16 Jul 2021 22:01:49 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:01:47 GMT
    method: DELETE
    uri: https://batch.southcentralus.batch.azure.com/jobschedules/batch_schedule_fe140e2a?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '3.0'
    status:
      code: 202
      message: Accepted
version: 1
