interactions:
- request:
    body: '{"id": "batch_job1_8dcc0a7e", "maxParallelTasks": -1, "jobPreparationTask":
      {"commandLine": "cmd /c \"echo hello world\""}, "jobReleaseTask": {"commandLine":
      "cmd /c \"echo goodbye world\""}, "poolInfo": {"autoPoolSpecification": {"poolLifetimeOption":
      "job", "pool": {"vmSize": "Standard_D1_v2", "cloudServiceConfiguration": {"osFamily":
      "5"}}}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 22:02:24 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobs?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.southcentralus.batch.azure.com/jobs/job-1
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A5662C3CFF'
      last-modified:
      - Fri, 16 Jul 2021 22:02:27 GMT
      location:
      - https://batch.southcentralus.batch.azure.com/jobs/job-1
    status:
      code: 201
      message: Created
- request:
    body: '{"priority": 500, "constraints": {"maxTaskRetryCount": 3}, "poolInfo":
      {"autoPoolSpecification": {"poolLifetimeOption": "job", "pool": {"vmSize": "Standard_D1_v2",
      "cloudServiceConfiguration": {"osFamily": "5"}}}}}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 22:02:24 GMT
    method: PUT
    uri: https://batch.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A56639AAB2'
      last-modified:
      - Fri, 16 Jul 2021 22:02:27 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:02:24 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobs/@Element\",\"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e\",\"eTag\":\"0x8D948A56644A742\",\"lastModified\":\"2021-07-16T22:02:27.221485Z\",\"creationTime\":\"2021-07-16T22:02:27.043478Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-16T22:02:27.0614783Z\",\"priority\":900,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"maxTaskRetryCount\":3\r\n
        \ },\"jobPreparationTask\":{\r\n    \"id\":\"jobpreparation\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"constraints\":{\r\n      \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \   },\"userIdentity\":{\r\n      \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    },\"waitForSuccess\":true,\"rerunOnNodeRebootAfterSuccess\":true\r\n
        \ },\"jobReleaseTask\":{\r\n    \"id\":\"jobrelease\",\"commandLine\":\"cmd
        /c \\\"echo goodbye world\\\"\",\"maxWallClockTime\":\"PT15M\",\"retentionTime\":\"P7D\",\"userIdentity\":{\r\n
        \     \"autoUser\":{\r\n        \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n
        \     }\r\n    }\r\n  },\"poolInfo\":{\r\n    \"autoPoolSpecification\":{\r\n
        \     \"poolLifetimeOption\":\"job\",\"keepAlive\":false,\"pool\":{\r\n        \"vmSize\":\"standard_d1_v2\",\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n
        \         \"nodeFillType\":\"Spread\"\r\n        },\"resizeTimeout\":\"PT15M\",\"targetDedicatedNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"cloudServiceConfiguration\":{\r\n
        \         \"osFamily\":\"5\",\"osVersion\":\"*\"\r\n        }\r\n      }\r\n
        \   }\r\n  },\"executionInfo\":{\r\n    \"startTime\":\"2021-07-16T22:02:27.0614783Z\",\"poolId\":\"54B26AC1-C7DF-486D-BE93-3CBE04A1F5CB\"\r\n
        \ },\"onAllTasksComplete\":\"noaction\",\"onTaskFailure\":\"noaction\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A56644A742'
      last-modified:
      - Fri, 16 Jul 2021 22:02:27 GMT
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:02:24 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/jobs?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobs\",\"value\":[\r\n
        \   {\r\n      \"id\":\"batch_job1_8dcc0a7e\",\"url\":\"https://batch.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e\",\"eTag\":\"0x8D948A56644A742\",\"lastModified\":\"2021-07-16T22:02:27.221485Z\",\"creationTime\":\"2021-07-16T22:02:27.043478Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-16T22:02:27.0614783Z\",\"priority\":900,\"maxParallelTasks\":-1,\"usesTaskDependencies\":false,\"constraints\":{\r\n
        \       \"maxWallClockTime\":\"P10675199DT2H48M5.[...]
- request:
    body: '{"disableTasks": "requeue"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 22:02:25 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/disable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A5667E4291'
      last-modified:
      - Fri, 16 Jul 2021 22:02:27 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:02:25 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/enable
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A56689B52E'
      last-modified:
      - Fri, 16 Jul 2021 22:02:27 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:02:25 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/jobpreparationandreleasetaskstatus?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobpreparationandreleasetaskstatuslist\",\"value\":[]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 22:02:25 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch8dcc0a7e.southcentralus.batch.azure.com/jobs/batch_job1_8dcc0a7e/terminate
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A5669F84CA'
      last-modified:
      - Fri, 16 Jul 2021 22:02:27 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:02:25 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/lifetimejobstats?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#jobstats/@Element\",\"url\":\"https://batch.southcentralus.batch.azure.com/lifetimejobstats\",\"startTime\":\"2021-07-16T22:02:11.0061142Z\",\"lastUpdateTime\":\"2021-07-16T22:02:11.0061142Z\",\"userCPUTime\":\"PT0S\",\"kernelCPUTime\":\"PT0S\",\"wallClockTime\":\"PT0S\",\"readIOps\":\"0\",\"writeIOps\":\"0\",\"readIOGiB\":0.0,\"writeIOGiB\":0.0,\"numTaskRetries\":\"0\",\"numSucceededTasks\":\"0\",\"numFailedTasks\":\"0\",\"waitTime\":\"PT0S\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
