interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:19:35 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d\",\"state\":\"creating\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2021-07-16T21:19:33.0685692Z\",\"allocationTime\":\"2021-07-16T21:19:33.0685692Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.88.236.44\",\"publicFQDN\":\"dns4f6e16c5-d544-45da-afbe-7790b7c8613e-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"16.04.202106110\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:19:55 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2021-07-16T21:19:49.533329Z\",\"lastBootTime\":\"2021-07-16T21:19:49.098401Z\",\"allocationTime\":\"2021-07-16T21:19:33.0685692Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"certificateReferences\":[],\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.88.236.44\",\"publicFQDN\":\"dns4f6e16c5-d544-45da-afbe-7790b7c8613e-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2021-07-16T21:19:49.098401Z\",\"version\":\"1.9.13\"\r\n
        \     },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"16.04.202106110\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"name": "BatchPythonSDKUser", "isAdmin": false, "password": "kt#_gahr!@aGERDXA"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 21:19:55 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d/users?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch3c670ff0.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d/users/BatchPythonSDKUser
      dataserviceversion:
      - '3.0'
      location:
      - https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d/users/BatchPythonSDKUser
    status:
      code: 201
      message: Created
- request:
    body: '{"password": "liilef#$DdRGSa_ewkjh"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 21:19:56 GMT
    method: PUT
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d/users/BatchPythonSDKUser?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch3c670ff0.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d/users/BatchPythonSDKUser
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:19:56 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d/remoteloginsettings?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.RemoteLoginSettings\",\"remoteLoginIPAddress\":\"20.88.236.44\",\"remoteLoginPort\":50000\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://batch3c670ff0.southcentralus.batch.azure.com/pools/test_batch_test_batch_compute_node_user3c670ff0/nodes/tvmps_17d3c51a06732ca79f8455cf742a7cba31ba02e1f041949916360508503d8616_d/remoteloginsettings
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
