interactions:
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:52:49 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d\",\"state\":\"starting\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2021-07-16T21:52:51.8942677Z\",\"allocationTime\":\"2021-07-16T21:52:41.782373Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.94.163.180\",\"publicFQDN\":\"dns908b51a0-a58a-4e12-8710-f42d58075251-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n
        \         \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"16.04.202106110\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:53:09 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#nodes\",\"value\":[\r\n
        \   {\r\n      \"id\":\"tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d\",\"state\":\"idle\",\"schedulingState\":\"enabled\",\"stateTransitionTime\":\"2021-07-16T21:53:08.550712Z\",\"lastBootTime\":\"2021-07-16T21:53:07.969215Z\",\"allocationTime\":\"2021-07-16T21:52:41.782373Z\",\"ipAddress\":\"10.0.0.4\",\"affinityId\":\"TVM:tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d\",\"vmSize\":\"standard_d1_v2\",\"totalTasksRun\":0,\"totalTasksSucceeded\":0,\"runningTasksCount\":0,\"runningTaskSlotsCount\":0,\"certificateReferences\":[],\"isDedicated\":true,\"endpointConfiguration\":{\r\n
        \       \"inboundEndpoints\":[\r\n          {\r\n            \"name\":\"SSHRule.0\",\"protocol\":\"tcp\",\"publicIPAddress\":\"20.94.163.180\",\"publicFQDN\":\"dns908b51a0-a58a-4e12-8710-f42d58075251-azurebatch-cloudservice.southcentralus.cloudapp.azure.com\",\"frontendPort\":50000,\"backendPort\":22\r\n
        \         }\r\n        ]\r\n      },\"nodeAgentInfo\":{\r\n        \"lastUpdateTime\":\"2021-07-16T21:53:07.969215Z\",\"version\":\"1.9.13\"\r\n
        \     },\"virtualMachineInfo\":{\r\n        \"imageReference\":{\r\n          \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\",\"exactVersion\":\"16.04.202106110\"\r\n
        \       }\r\n      }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: '{"id": "test_task", "commandLine": "cmd /c \"echo hello world\""}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 21:53:09 GMT
    method: POST
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batch498930ae3.southcentralus.batch.azure.com/jobs/batch98930ae3/tasks/test_task
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A41BA4F89E'
      last-modified:
      - Fri, 16 Jul 2021 21:53:12 GMT
      location:
      - https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:53:10 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"test_task\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task\",\"eTag\":\"0x8D948A41BA4F89E\",\"creationTime\":\"2021-07-16T21:53:12.5268638Z\",\"lastModified\":\"2021-07-16T21:53:12.5268638Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-16T21:53:12.5268638Z\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n
        \     \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"retryCount\":0,\"requeueCount\":0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A41BA4F89E'
      last-modified:
      - Fri, 16 Jul 2021 21:53:12 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:53:15 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#tasks/@Element\",\"id\":\"test_task\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task\",\"eTag\":\"0x8D948A41BA4F89E\",\"creationTime\":\"2021-07-16T21:53:12.5268638Z\",\"lastModified\":\"2021-07-16T21:53:12.5268638Z\",\"state\":\"completed\",\"stateTransitionTime\":\"2021-07-16T21:53:17.182382Z\",\"previousState\":\"running\",\"previousStateTransitionTime\":\"2021-07-16T21:53:15.969901Z\",\"commandLine\":\"cmd
        /c \\\"echo hello world\\\"\",\"userIdentity\":{\r\n    \"autoUser\":{\r\n
        \     \"scope\":\"pool\",\"elevationLevel\":\"nonadmin\"\r\n    }\r\n  },\"constraints\":{\r\n
        \   \"maxWallClockTime\":\"P10675199DT2H48M5.4775807S\",\"retentionTime\":\"P7D\",\"maxTaskRetryCount\":0\r\n
        \ },\"requiredSlots\":1,\"executionInfo\":{\r\n    \"startTime\":\"2021-07-16T21:53:17.16026Z\",\"endTime\":\"2021-07-16T21:53:17.182382Z\",\"failureInfo\":{\r\n
        \     \"category\":\"UserError\",\"code\":\"CommandProgramNotFound\",\"message\":\"The
        specified command program is not found\",\"details\":[\r\n        {\r\n          \"name\":\"Message\",\"value\":\"The
        system cannot find the file specified\"\r\n        }\r\n      ]\r\n    },\"result\":\"failure\",\"retryCount\":0,\"requeueCount\":0\r\n
        \ },\"nodeInfo\":{\r\n    \"affinityId\":\"TVM:tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d\",\"nodeUrl\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d\",\"poolId\":\"test_batch_test_batch_files98930ae3\",\"nodeId\":\"tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d\",\"taskRootDirectory\":\"workitems/batch/job-1/test_task\",\"taskRootDirectoryUrl\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d/files/workitems/batch/job-1/test_task\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A41BA4F89E'
      last-modified:
      - Fri, 16 Jul 2021 21:53:12 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:53:15 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d/files?recursive=true&api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#files\",\"value\":[\r\n
        \   {\r\n      \"name\":\"startup\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d/files/startup\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"volatile\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d/files/volatile\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"shared\",\"url\":\"https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d/fil[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:53:15 GMT
    method: HEAD
    uri: https://batch4.southcentralus.batch.azure.com/pools/test_batch_test_batch_files98930ae3/nodes/tvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d/files/workitems%2Fbatch%2Fjob-1%2Ftest_task%2Fstdout.txt?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Fri, 16 Jul 2021 21:53:17 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-mode:
      - 0o100644
      ocp-batch-file-url:
      - https%3A%2F%2Fbatch498930ae3.southcentralus.batch.azure.com%2Fpools%2Ftest_batch_test_batch_files98930ae3%2Fnodes%2Ftvmps_e7f79fb6e91f47eae14549f60f6b9167c21660dcaaf32c5150b90bf54a0e6364_d%2Ffiles%2Fworkitems%2Fbatch98930ae3%2Fjob-1%2Ftest_task%2Fstdout.txt
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:53:15 GMT
    method: GET
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch4.southcentralus.batch.azure.com/$metadata#files\",\"value\":[\r\n
        \   {\r\n      \"name\":\"certs\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files/certs\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"wd\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files/wd\",\"isDirectory\":true\r\n
        \   },{\r\n      \"name\":\"stderr.txt\",\"url\":\"https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt\",\"isDirectory\":false,\"properties\":{\r\n
        \       \"lastModified\":\"2021-07-16T21:53:17.167394Z\",\"contentLength\":\"0\",\"contentType\":\"text/plain\",\"fileMode\":\"0o100644\"\r\n
        \     }\r\n    }\r\n  ]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 21:53:15 GMT
    method: HEAD
    uri: https://batch4.southcentralus.batch.azure.com/jobs/batch/tasks/test_task/files/stderr.txt?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '3.0'
      last-modified:
      - Fri, 16 Jul 2021 21:53:17 GMT
      ocp-batch-file-isdirectory:
      - 'False'
      ocp-batch-file-mode:
      - 0o100644
      ocp-batch-file-url:
      - https%3A%2F%2Fbatch498930ae3.southcentralus.batch.azure.com%2Fjobs%2Fbatch98930ae3%2Ftasks%2Ftest_task%2Ffiles%2Fstderr.txt
    status:
      code: 200
      message: OK
[...]
