interactions:
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=2", "autoScaleEvaluationInterval":
      "PT6M"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 22:26:34 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/enableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A8C692F411'
      last-modified:
      - Fri, 16 Jul 2021 22:26:37 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"autoScaleFormula": "$TargetDedicatedNodes=3"}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 22:26:36 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#Microsoft.Azure.Batch.Protocol.Entities.AutoScaleRun\",\"timestamp\":\"2021-07-16T22:26:38.8050213Z\",\"results\":\"$TargetDedicatedNodes=3;$TargetLowPriorityNodes=0;$NodeDeallocationOption=requeue\"\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/evaluateautoscale
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:26:36 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/disableautoscale
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A8C784CF71'
      last-modified:
      - Fri, 16 Jul 2021 22:26:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:26:36 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"test_batch_test_batch_scale_poolse2690d64\",\"displayName\":\"test_pool\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64\",\"eTag\":\"0x8D948A8C784CF71\",\"lastModified\":\"2021-07-16T22:26:38.8711281Z\",\"creationTime\":\"2021-07-16T22:26:37.2860945Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-16T22:26:37.2860945Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2021-07-16T22:26:38.9051313Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":0,\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"task-user\",\"elevationLevel\":\"admin\"\r\n    }\r\n
        \ ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A8C784CF71'
      last-modified:
      - Fri, 16 Jul 2021 22:26:38 GMT
    status:
      code: 200
      message: OK
- request:
    body: '{"targetDedicatedNodes": 0, "targetLowPriorityNodes": 2}'
    headers:
      Content-Type:
      - application/json; odata=minimalmetadata; charset=utf-8
      ocp-date:
      - Fri, 16 Jul 2021 22:26:36 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/resize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A8C79C7626'
      last-modified:
      - Fri, 16 Jul 2021 22:26:39 GMT
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:26:36 GMT
    method: POST
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize?api-version=2021-06-01.14.0
  response:
    body:
      string: ''
    headers:
      dataserviceid:
      - https://batche2690d64.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64/stopresize
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A8C79C7626'
      last-modified:
      - Fri, 16 Jul 2021 22:26:39 GMT
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:26:41 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#pools/@Element\",\"id\":\"test_batch_test_batch_scale_poolse2690d64\",\"displayName\":\"test_pool\",\"url\":\"https://batch.southcentralus.batch.azure.com/pools/test_batch_test_batch_scale_poolse2690d64\",\"eTag\":\"0x8D948A8C79C7626\",\"lastModified\":\"2021-07-16T22:26:39.0261286Z\",\"creationTime\":\"2021-07-16T22:26:37.2860945Z\",\"state\":\"active\",\"stateTransitionTime\":\"2021-07-16T22:26:37.2860945Z\",\"allocationState\":\"steady\",\"allocationStateTransitionTime\":\"2021-07-16T22:26:39.3031328Z\",\"vmSize\":\"standard_d1_v2\",\"resizeTimeout\":\"PT15M\",\"currentDedicatedNodes\":0,\"targetDedicatedNodes\":0,\"currentLowPriorityNodes\":0,\"targetLowPriorityNodes\":2,\"resizeErrors\":[\r\n
        \   {\r\n      \"code\":\"ResizeStopped\",\"message\":\"Desired number of
        low priority nodes could not be allocated due to a stop resize operation\"\r\n
        \   }\r\n  ],\"enableAutoScale\":false,\"enableInterNodeCommunication\":false,\"userAccounts\":[\r\n
        \   {\r\n      \"name\":\"task-user\",\"elevationLevel\":\"admin\"\r\n    }\r\n
        \ ],\"taskSlotsPerNode\":1,\"taskSchedulingPolicy\":{\r\n    \"nodeFillType\":\"Spread\"\r\n
        \ },\"virtualMachineConfiguration\":{\r\n    \"imageReference\":{\r\n      \"publisher\":\"Canonical\",\"offer\":\"UbuntuServer\",\"sku\":\"16.04-LTS\",\"version\":\"latest\"\r\n
        \   },\"nodeAgentSKUId\":\"batch.node.ubuntu 16.04\"\r\n  }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
      etag:
      - '0x8D948A8C79C7626'
      last-modified:
      - Fri, 16 Jul 2021 22:26:39 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:26:41 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/lifetimepoolstats?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#poolstats/@Element\",\"url\":\"https://batch.southcentralus.batch.azure.com/lifetimepoolstats\",\"usageStats\":{\r\n
        \   \"startTime\":\"2021-07-16T22:26:20.2611904Z\",\"lastUpdateTime\":\"2021-07-16T22:26:20.2611904Z\",\"dedicatedCoreTime\":\"PT0S\"\r\n
        \ },\"resourceStats\":{\r\n    \"startTime\":\"2021-07-16T22:26:20.2611904Z\",\"diskReadIOps\":\"0\",\"diskWriteIOps\":\"0\",\"lastUpdateTime\":\"2021-07-16T22:26:20.2611904Z\",\"avgCPUPercentage\":0.0,\"avgMemoryGiB\":0.0,\"peakMemoryGiB\":0.0,\"avgDiskGiB\":0.0,\"peakDiskGiB\":0.0,\"diskReadGiB\":0.0,\"diskWriteGiB\":0.0,\"networkReadGiB\":0.0,\"networkWriteGiB\":0.0\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      ocp-date:
      - Fri, 16 Jul 2021 22:26:41 GMT
    method: GET
    uri: https://batch.southcentralus.batch.azure.com/poolusagemetrics?api-version=2021-06-01.14.0
  response:
    body:
      string: "{\r\n  \"odata.metadata\":\"https://batch.southcentralus.batch.azure.com/$metadata#poolusagemetrics\",\"value\":[]\r\n}"
    headers:
      content-type:
      - application/json;odata=minimalmetadata
      dataserviceversion:
      - '3.0'
    status:
      code: 200
      message: OK
version: 1
